<!DOCTYPE html>
<html lang="ja">
  <head>
    {%- include '../partial/head.njk' -%}
    <style>{%- include '../style/post.njk' -%}</style>
  </head>
  <body>
    {%- include '../partial/header.njk' -%}
    <article class="post-article">
      {{post.contents | safe}}
    </article>
    <footer class="footer">{%- include '../partial/privacy_policy.njk' -%}</footer>
  </body>
</html>
