{{#post}}
<article>
  {{{contents}}}
  <div class="social">
    <amp-social-share type="twitter"></amp-social-share>
    <amp-social-share type="facebook" data-param-app_id="273750926754130"></amp-social-share>
    <amp-social-share type="tumblr"></amp-social-share>
  </div>
</article>
{{/post}}
