{{#index}}
<ul class="posts">
  {{#list}}
  <li class="item">
    <a href="posts/{{url}}" class="post-link">
      <p class="meta"><time>{{date}}</time></p>
      <h2 class="title">{{title}}</h2>
      <p class="meta"><span>{{description}}</span></p>
    </a>
  </li>
  {{/list}}
</ul>
{{/index}}
