<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
  {{> meta}}
  </head>
  <body>
    <div class="wrapper">
      {{> header}}
      {{> profile}}
      {{> posts}}
      {{> top}}
      {{> footer}}
    </div>
    <script src="/sw/sw_.js"></script>
  </body>
</html>
