{{#head}}
  <meta charset="utf-8">
  <meta name="author" content="hrfmmymt">
  <meta name="copyright" content="Copyright(c)hrfmmymt. {{year}} All Rights Reserved.">
  <meta name="description" content="{{description}}">
  <meta name="format-detection" content="telephone=no,address=no,email=no">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="theme-color" content="#fff">
  <meta property="og:description" content="{{description}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:url" content="{{{url}}}">
  <meta property="og:image" content="{{{facebookImg}}}">
  <meta property="og:type" content="{{{ogType}}}">
  <meta property="og:locale" content="ja_JP">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="{{{twitterImg}}}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{{twitterAccount}}}">
  <meta name="twitter:creator" content="{{{twitterAccount}}}">
  <title>{{title}}</title>
  <link rel="canonical" href="https://iiyatsu.hrfmmymt.com/">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/icons/favicon.ico">
  <link rel="apple-touch-icon" type="image/png" href="/static/img/icons/icon.png">
  <link rel="image_src" href="/static/img/icons/icon.png">
  <link rel="icon" type="image/png" href="/static/img/icons/icon.png">
  <link rel="manifest" href="/static/sw/manifest.json">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <style amp-custom>{{> custom-style }}</style>
  <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
  <script async custom-element="amp-install-serviceworker" src="https://cdn.ampproject.org/v0/amp-install-serviceworker-0.1.js"></script>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
{{/head}}
