{{#profile}}
<section class="profile">
  <div class="profile-header">
    <div class="profile-img-wrapper">
      <amp-img src="/static/img/profile/profile.jpg" alt="hrfmmymt's profile img" width="120" height="120"></amp-img>
    </div>
    <div class="profile-items">
      <h2>hrfmmymt</h2>
      <ul>
        <li><a href="https://twitter.com/hrfmmymt">Twitter</a></li>
        <li><a href="https://www.facebook.com/hrfmmymt">Facebook</a></li>
        <li><a href="https://github.com/hrfmmymt">Github</a></li>
        <li><a href="mailto:hrfmmymt@gmail.com">Mail</a></li>
        <li><a href="https://hrfmmymt.github.io/">Website</a></li>
        <li><a href="https://hrfmmymt.com/">Portfolio site</a></li>
      </ul>
    </div>
  </div>
</section>
{{/profile}}