/*
 * common and initial settings
 */
a,
article,
blockquote,
body,
div,
footer,
h1,
h2,
h3,
header,
html,
li,
nav,
p,
time,
ul {
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #000;
  --text-color-sub: #555;
  --text-color-anchor: #db2c17;
  --page-background-color: #fff;
  --code-background-color: #f4f4f4;
  --skeleton-color: #f4f4f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --text-color-sub: #f2f1ef;
    --text-color-anchor: #00b5b5;
    --page-background-color: #332f21;
    --code-background-color: #000;
    --skeleton-color: #272419;
  }
}

html {
  font-size: calc(1em + 0.5vw);
}

body {
  background-color: var(--page-background-color);
  color: var(--text-color);
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-feature-settings: 'palt';
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.1em;
  text-rendering: optimizeLegibility;
}

a {
  color: var(--text-color-anchor);
}

a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
}

.header {
  margin: 1.5rem 0 1.2rem;
  text-align: center;
}

.header-title {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.header-title .header-title-link {
  display: block;
  margin: 0 auto;
  width: 6rem;
}

.header-title .header-title-link,
.header-title .header-title-link:visited {
  color: inherit;
}

.logo {
  fill: var(--text-color);
}

.footer {
  font-size: 0.8rem;
  margin: 0 auto 1.5rem;
  max-width: 32rem;
  padding: 0 1rem;
}
