/*
 * Top page
 */
@import 'base.css';

.profile > *,
.post-list {
  margin: 0 auto;
  max-width: 32rem;
  padding: 0 1rem;
}

/* profile */
.profile {
  padding: 3rem 0;
}

.profile-img-wrapper {
  float: right;
}

.profile-name {
  margin-bottom: 2rem;
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9rem;
  line-height: 2.4;
}

.profile-list-item {
  margin-right: 1rem;
}

.profile-img {
  background-color: var(--skeleton-color);
  border-radius: 50%;
  padding: 0;
}

/* post list */
.post-list {
  border-top: 1px solid #ddd;
}

.post-item {
  margin: 3rem 0;
}

.post-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.post-meta,
.post-article time,
.post-article .description {
  color: var(--text-color-sub);
  font-weight: 400;
  word-wrap: break-word;
}

.post-date,
.post-article time {
  font-size: 0.8rem;
}

/*
 * for mobile
 */
@media (max-width: 414px) {
  .profile {
    padding: 0 0 1rem;
  }

  .profile-img-wrapper {
    float: none;
  }

  .profile-img {
    max-height: 80px;
    max-width: 80px;
  }

  .profile h2 {
    margin: 1rem 0;
  }
}
