<!DOCTYPE html>
<html lang="ja">
  <head>
  {%- include './partial/head.njk' -%}
  <style>{%- include './style/top.njk' -%}</style>
  </head>
  <body>
    <main class="wrapper">
      {%- include './partial/header.njk' -%}
      {%- include './partial/profile.njk' -%}
      {%- include './partial/top.njk' -%}
      <footer class="footer">{%- include './partial/privacy_policy.njk' -%}</footer>
    </main>
    <script src="public/js/script.js" defer></script>
  </body>
</html>
