<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122819743-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122819743-1');
</script>

<meta charset="UTF-8">
<title>{{head.title}}</title>
<meta name="author" content="{{head.author}}">
<meta name="copyright" content="Copyright(c){{head.author}}. {{head.year}} All Rights Reserved.">
<meta name="description" content="{{head.description}}">
<meta name="format-detection" content="telephone=no,address=no,email=no">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#fff">
<meta property="og:description" content="{{head.description}}">
<meta property="og:title" content="{{head.title}}">
<meta property="og:url" content="{{head.url}}">
<meta property="og:image" content="{{head.ogImage}}">
<meta property="og:type" content="website">
<meta property="og:locale" content="ja_JP">

<link rel="canonical" href="{{head.url}}">
<link rel="shortcut icon" type="image/x-icon" href="{{head.favicon}}">
<link rel="manifest" href="public/manifest.json">
<link rel="image_src" href="{{head.ogImage}}">
<link rel="icon" type="image/png" href="{{head.ogImage}}">
<link rel="apple-touch-icon" href="{{head.ogImage}}">
<link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
