<section class="profile">
  <div class="profile-header">
    <div class="profile-img-wrapper">
      <picture>
        <source srcset="public/img/profile/profile.webp" type="image/webp">
        <source srcset="public/img/profile/profile.jpg" type="image/jpeg">
        <img src="public/img/profile/profile.jpg" alt="hrfmmymt's profile img" class="profile-img" width="120" height="120" />
      </picture>
    </div>
    <div>
      <h2 class="profile-name">hrfmmymt</h2>
      <ul class="profile-list">
        <li class="profile-list-item"><a href="https://twitter.com/hrfmmymt" class="profile-list-link">Twitter</a></li>
        <li class="profile-list-item"><a href="https://www.facebook.com/hrfmmymt" class="profile-list-link">Facebook</a></li>
        <li class="profile-list-item"><a href="https://github.com/hrfmmymt" class="profile-list-link">Github</a></li>
        <li class="profile-list-item"><a href="mailto:hrfmmymt@gmail.com" class="profile-list-link">Mail</a></li>
        <li class="profile-list-item"><a href="https://hrfmmymt.github.io/" class="profile-list-link">Website</a></li>
        <li class="profile-list-item"><a href="https://hrfmmymt.com/" class="profile-list-link">Portfolio site</a></li>
      </ul>
    </div>
  </div>
</section>