<section class="profile">
  <div class="profile-header">
    <h2 class="profile-name">hrfmmymt</h2>
    <ul class="profile-list">
      <li class="profile-list-item"><a href="https://twitter.com/hrfmmymt" class="profile-list-link">Twitter</a></li>
      <li class="profile-list-item"><a href="https://www.facebook.com/hrfmmymt" class="profile-list-link">Facebook</a></li>
      <li class="profile-list-item"><a href="https://github.com/hrfmmymt" class="profile-list-link">Github</a></li>
      <li class="profile-list-item"><a href="mailto:hrfmmymt@gmail.com" class="profile-list-link">Mail</a></li>
      <li class="profile-list-item"><a href="https://hrfmmymt.github.io/" class="profile-list-link">Website</a></li>
      <li class="profile-list-item"><a href="https://hrfmmymt.com/" class="profile-list-link">Portfolio site</a></li>
    </ul>
  </div>
</section>